body{
    background-color: #fbfafc !important;
    /* font-family: 'Oxygen', sans-serif !important; */
}
.selectCustom > div{
    z-index: 5;
    border-color: #e2e8f1 !important;
}
.logo{
    font-family: 'Oxygen', sans-serif !important;
}